<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700&display=swap"
      rel="stylesheet"
    />
    <title>CU FYB Badge Generator</title>
  </head>
  <body>
    <main>
      <section class="info">
      <div class="info__head">CU FYB Badge Generator</div>
      </section>
      <section class="body">
        <div class="body__container">
          <h5 class="body--title">Supply the information below</h5>
          <form class="body__form form" id="form">
            <input
              type="text"
              class="form--input"
              placeholder="First Name"
              name="firstName"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Last Name"
              name="lastName"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Department"
              name="dept"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Level"
              name="level"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Activity Group"
              name="unit"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Favorite Food"
              name="food"
              required
            />
            <input
              type="text"
              class="form--input"
              placeholder="Hobby"
              name="hobby"
              required
            />
            <input
              type="file"
              name="image"
              class="form--input"
              accept="image/*"
              required
            />
            <div class="form__submit">
              <button class="btn" type="submit">
                GENERATE BADGE
              </button>
            </div>
          </form>
          <a
            href=""
            id="download-image"
            download="CU-FYB-badge.png"
          ></a>
        </div>
      </section>
    </main>
    <footer>Created by The Christian Union Publicity Team.</footer>
    <div class="loader hide" id="loader">
      <div class="loadingio-spinner-eclipse-fdjij0l7048 loader__box">
        <div class="loader__box--text">
          <div id='loader-type'>Generating...</div>
          <div id="loader-percent">23%</div>
        </div style="color: red">
        <div class="ldio-qt91npdc9ba">
          <div></div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/file-saver@2.0.2/dist/FileSaver.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="index.js"></script>
</html>
