* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  position: relative; }

.hide {
  display: none !important; }

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100; }
  .loader__box {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px; }
    .loader__box--text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: rgba(255, 255, 255, 0.6); }
      .loader__box--text > *:first-child {
        font-size: 13px; }
      .loader__box--text > *:last-child {
        font-size: 25px; }

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  overflow: hidden;
  box-shadow: 0px 3px 11px -3px #9b5998;
  border-bottom: 1px solid rgba(155, 89, 152, 0.5); }
  @media only screen and (max-width: 768px) {
    .header {
      display: block;
      padding: 0; }
      .header .nav {
        display: none; } }

.logo {
  flex: 1;
  align-self: center; }
  .logo--img {
    display: block;
    width: 100%;
    height: 70px;
    object-fit: contain;
    object-position: center; }

.nav {
  flex: 3;
  display: flex; }
  .nav__list {
    flex: 4;
    list-style: none;
    display: flex; }
    .nav__list--item {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .nav__list--item a {
        display: block;
        text-decoration: none;
        padding: 15px;
        color: #9b5998;
        font-weight: 600;
        font-size: 15px; }
        .nav__list--item a:hover {
          background-color: #9b5998;
          color: white; }
  .nav__donate {
    flex: 1;
    display: flex;
    justify-content: center; }

.info {
  margin: 30px 0 40px; }
  .info__head {
    text-align: center;
    font-size: 30px; }

.body {
  padding: 50px 0; }
  .body__container {
    max-width: 300px;
    margin: 0 auto;
    text-align: center; }
  .body--title {
    margin: 0 auto 30px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px; }

.form {
  width: 100%; }
  .form--input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgba(155, 89, 152, 0.6);
    border-radius: 5px; }
  .form > *:not(:last-child) {
    margin-bottom: 30px; }
  .form__submit {
    display: flex;
    justify-content: center; }

.btn {
  display: block;
  padding: 15px 10px;
  background-color: #9b5998;
  color: white;
  font-family: inherit;
  font-weight: normal;
  font-size: 17px;
  border: none;
  cursor: pointer;
  text-decoration: none; }
  .btn:hover {
    background-color: #7b4678; }

.badge-container {
  display: block;
  max-width: 550px;
  margin: 0 auto; }

.badge {
  position: relative;
  font-family: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("../images/bg-image.jpg");
  color: #fff; }
  .badge__left {
    position: relative;
    flex: 1;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    clip-path: polygon(1% 0, 79% 0, 99% 100%, 0% 100%);
    z-index: 5; }
    .badge__left__img-container {
      flex: 1; }
      .badge__left__img-container--img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center; }
  .badge__right {
    flex: 1;
    position: relative;
    z-index: 3;
    width: 100%; }
    .badge__right__inner-box {
      position: relative;
      left: -40px;
      right: -40px;
      top: 0;
      min-height: 100%;
      min-width: calc(100% + 35px);
      z-index: 10; }
    .badge__right__logo {
      margin: 10px 0;
      width: 50%;
      padding: 8px 2px;
      display: flex;
      justify-content: flex-start; }
      .badge__right__logo--img {
        display: block;
        width: auto;
        height: 40px;
        object-fit: contain;
        object-position: center; }
    .badge__right__name {
      margin: 10px 0 5px 20px;
      text-align: center;
      font-weight: 600;
      font-size: 34px;
      text-transform: uppercase;
      line-height: 35px; }
    .badge__right__attrs > *:not(:last-child) {
      margin-bottom: 10px; }
    .badge__right__attrs__item {
      display: flex;
      justify-content: flex-end;
      font-size: 22.5px; }
      .badge__right__attrs__item__key {
        margin-right: 6px;
        color: orange;
        flex: 1;
        justify-self: flex-end;
        text-align: right; }
      .badge__right__attrs__item--dept {
        margin-left: 12px; }
      .badge__right__attrs__item--level {
        margin-left: 15px; }
      .badge__right__attrs__item--unit {
        margin-left: 20px; }
        .badge__right__attrs__item--unit > *:last-child {
          text-transform: uppercase;
          font-weight: 600; }
      .badge__right__attrs__item--food {
        margin-left: 29px; }
      .badge__right__attrs__item--hobby {
        margin-left: 36px; }
    .badge__right__footer {
      float: right;
      display: flex;
      justify-content: space-evenly;
      background-color: #fff;
      width: 70%;
      color: #333;
      font-size: 12px;
      margin-right: 15px;
      padding: 8px 10px; }
      .badge__right__footer__list {
        list-style: none;
        display: flex;
        align-items: center;
        margin-right: 10px; }
        .badge__right__footer__list--item {
          height: 18px;
          width: 18px; }
        .badge__right__footer__list--img {
          display: block;
          height: 100%;
          width: 100%;
          object-position: center;
          object-fit: contain; }

footer {
  margin: 0 0 20px;
  font-size: 600;
  text-align: center; }

.download-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px; }

@keyframes ldio-qt91npdc9ba {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

.ldio-qt91npdc9ba div {
  position: absolute;
  animation: ldio-qt91npdc9ba 1s linear infinite;
  width: 109.72px;
  height: 109.72px;
  top: 50.64px;
  left: 50.64px;
  border-radius: 50%;
  box-shadow: 0 4.22px 0 0 #9b5998;
  transform-origin: 54.86px 56.97px; }

.loadingio-spinner-eclipse-fdjij0l7048 {
  width: 211px;
  height: 211px;
  display: inline-block;
  overflow: hidden;
  background: none; }

.ldio-qt91npdc9ba {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */ }

.ldio-qt91npdc9ba div {
  box-sizing: content-box; }
